.card-container {
  width: 270px;
  height: 320px;
  perspective: 1000px;
}

.card {
  @apply bg-gradient-to-r overflow-hidden from-secondary via-tertiary to-primary-300 rounded-2xl rounded-br-[5rem] lg:rounded-br-[5rem] hover:shadow-xl shadow-slate-300 w-full h-full relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  transition: transform 0.6s, box-shadow 0.6s;
}

.card:hover {
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6b5e5e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-content {
  @apply py-4 lg:py-6 bg-[#FAFCE7] m-1 rounded-2xl rounded-br-[5rem] lg:rounded-br-[5rem];
}
.user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 15px;
}

.profile-name {
  margin-top: 10px;
  text-align: center;
}

.card-back {
  background-color: #6b5e5e;
  transform: rotateY(180deg);
  color: rgb(17, 15, 15);
  text-align: center;
}

.user-details {
  padding: 20px;
}

.user-details h2 {
  margin-left: 4px;
}

.user-details h4 {
  margin-bottom: 5px;
}
.user-details p {
  font-weight: bold;
}

.card-container {
  width: 270px;
  height: 320px;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s, box-shadow 0.6s;
}

.card-container:hover > .card {
  transform: rotateY(180deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6b5e5e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 15px;
}

.profile-name {
  margin-top: 10px;
  text-align: center;
}

.card-back {
  background-color: #6b5e5e;
  transform: rotateY(180deg);
  color: rgb(17, 15, 15);
  text-align: center;
}

.user-details {
  padding: 20px;
}

.user-details h2 {
  margin-left: 4px;
}

.user-details h4 {
  margin-bottom: 5px;
}

.user-details p {
  font-weight: bold;
}
